* text=auto
*.h text eol=lf
*.cpp text eol=lf
*.cs text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.glb binary
*.uasset binary
*.umap binary
*.wav binary
*.png binary
ContentSource/Meshes/*.obj linguist-generated=true
ContentSource/Meshes/Palette.mtl linguist-generated=true
